USE [master]
GO
/****** Object:  Database [pictogramasdblocal]    Script Date: 7/8/2022 12:23:26 ******/
CREATE DATABASE [pictogramasdblocal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pictogramasdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pictogramasdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pictogramasdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pictogramasdb_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pictogramasdblocal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pictogramasdblocal]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nivel] [int] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [varchar](65) NOT NULL,
	[Tipo] [int] NOT NULL,
	[Meaning] [varchar](1200) NOT NULL,
	[Plural] [varchar](70) NOT NULL,
	[HasLocution] [bit] NOT NULL,
	[IdPictograma] [int] NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictogramas]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictogramas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Schematic] [bit] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Violence] [bit] NOT NULL,
	[Aac] [bit] NOT NULL,
	[AacColor] [bit] NOT NULL,
	[Skin] [bit] NOT NULL,
	[Hair] [bit] NOT NULL,
	[IdArasaac] [int] NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Pictogramas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PictogramasPorCategorias]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PictogramasPorCategorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPictograma] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
 CONSTRAINT [PK_PictogramaPorCategoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PictogramasPorTags]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PictogramasPorTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPictograma] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
 CONSTRAINT [PK_PictogramaPorTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/8/2022 12:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](100) NULL,
	[Schematic] [bit] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Violence] [bit] NOT NULL,
	[Aac] [bit] NOT NULL,
	[AacColor] [bit] NOT NULL,
	[Skin] [bit] NOT NULL,
	[Hair] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((0)) FOR [Nivel]
GO
ALTER TABLE [dbo].[Keywords]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_Pictogramas] FOREIGN KEY([IdPictograma])
REFERENCES [dbo].[Pictogramas] ([Id])
GO
ALTER TABLE [dbo].[Keywords] CHECK CONSTRAINT [FK_Keywords_Pictogramas]
GO
ALTER TABLE [dbo].[PictogramasPorCategorias]  WITH CHECK ADD  CONSTRAINT [FK_PictogramaPorCategoria_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[PictogramasPorCategorias] CHECK CONSTRAINT [FK_PictogramaPorCategoria_Categorias]
GO
ALTER TABLE [dbo].[PictogramasPorCategorias]  WITH CHECK ADD  CONSTRAINT [FK_PictogramaPorCategoria_Pictogramas] FOREIGN KEY([IdPictograma])
REFERENCES [dbo].[Pictogramas] ([Id])
GO
ALTER TABLE [dbo].[PictogramasPorCategorias] CHECK CONSTRAINT [FK_PictogramaPorCategoria_Pictogramas]
GO
ALTER TABLE [dbo].[PictogramasPorTags]  WITH CHECK ADD  CONSTRAINT [FK_PictogramaPorTag_Pictogramas] FOREIGN KEY([IdPictograma])
REFERENCES [dbo].[Pictogramas] ([Id])
GO
ALTER TABLE [dbo].[PictogramasPorTags] CHECK CONSTRAINT [FK_PictogramaPorTag_Pictogramas]
GO
ALTER TABLE [dbo].[PictogramasPorTags]  WITH CHECK ADD  CONSTRAINT [FK_PictogramaPorTag_TagPorPictograma] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[PictogramasPorTags] CHECK CONSTRAINT [FK_PictogramaPorTag_TagPorPictograma]
GO
USE [master]
GO
